<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AddServelet</display-name>
    <servlet-name>AddServelet</servlet-name>
    <servlet-class>AddServelet.AddServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServelet</servlet-name>
    <url-pattern>/AddServelet</url-pattern>
  </servlet-mapping>
  <display-name>LibrarySystem</display-name>
  <welcome-file-list>
  	<welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IssueServelet</display-name>
    <servlet-name>IssueServelet</servlet-name>
    <servlet-class>IssueServelet.IssueServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServelet</servlet-name>
    <url-pattern>/IssueServelet</url-pattern>
  </servlet-mapping>
</web-app>